<div class="col-lg-2">
		<div class="img-wrapper">
			<!-- <img ng-src="{{book.image}}" class="bookImg"> -->
		</div>
	</div>
	<div class="col-lg-10">
		<h3>Title: {{book.title}}</h3>
		<h3>Author: {{book.author}}</h3>
		<h3>Released: {{book.release_date}}</h3>
		<div class="button-wrapper">
			<button ng-init="toggleEditForm=false" ng-click="toggleEditForm = !toggleEditForm">Edit</button>
			<button>Delete</button>
		</div>
		<div ng-show="toggleEditForm" class="ng-show">
			<form action="/">
				<input type="text" ng-model="book.title"><br>
				<input type="text" ng-model="book.author"><br>
				<input type="text" ng-model="book.release_date">
				<button type="submit">Submit Changes</button>
			</form>
		</div>
	</div>
</div>